.channels-table .table-container {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

.channels-table table {
  width: 1420px;
  height: 100%;
  border-spacing: 0;
  padding: 15px 0 0 25px;
}

.channels-table table thead th {
  text-transform: uppercase;
  font-size: var(--font11);
  font-weight: var(--fw700);
  color: var(--lighter-blue4);
  line-height: 1.5;
  padding: 0;
  text-align: left;
  pointer-events: none;
}
