@import-normalize;
@import "./fonts/Fonts.css";

*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --black: #000000;
  --gray: #7e7e7e;
  --light-gray: #f6f7fb;
  --light-gray2: #f5f6fa;
  --dark-blue: #182033;
  --dark-blue2: #2f3b66;
  --dark-blue3: #2a3558;
  --dark-blue4: #222a41;
  --lighter-blue: #99a4c2;
  --lighter-blue3: #b2bbd5;
  --lighter-blue4: #97a4c8;
  --lighter-blue5: #98a4c6;
  --light-blue: #707ea7;
  --red: #ee2032;
  --font11: 0.688em;
  --font12: 0.75rem;
  --font14: 0.875rem;
  --font18: 1.125rem;
  --font20: 1.25rem;
  --font24: 1.5rem;
  --fw400: 400;
  --fw500: 500;
  --fw600: 600;
  --fw700: 700;
}

body {
  margin: 0;
  font-family: Avenir Next, sans-serif;
  font-weight: var(--fw400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.App {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  width: 100%;
}

button,
input {
  outline: none;
}

.p-10-16 {
  padding: 10px 16px;
}

.h-40 {
  height: 40px;
}

.button {
  border: 1px solid var(--lighter-blue3);
  border-radius: 3px;
  color: var(--light-blue);
  font-size: var(--font12);
  font-weight: var(--fw600);
  box-shadow: 0px 1px 2px #e6e8f0;
  padding: 12px 16px;
}

.radiused-light {
  border: 1px solid var(--lighter-blue3);
  border-radius: 3px;
}

.light-shadow {
  box-shadow: 0px 1px 2px #e6e8f0;
}

.flyout-parent {
  position: relative;
}

.nav-flyout {
  min-width: 160px;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  background-color: #fff;
  padding: 8px 5px;
  border: 1px solid var(--lighter-blue3);
  border-radius: 4px;
}

.nav-flyout > * {
  width: 100%;
  padding: 8px 10px;
  text-align: left;
  font-weight: var(--fw500);
  border-radius: 4px;
  height: 41px;
  color: var(--dark-blue3);
}

.gradient-seperator {
  min-height: 128px;
  background: linear-gradient(
    90deg,
    rgba(169, 181, 210, 0.0001) 0%,
    rgba(112, 126, 167, 0.134454) 100%
  );
  mix-blend-mode: normal;
  opacity: 0.5;
  border-right: 1px solid var(--lighter-blue3);
}

.checkmark,
.x-icon {
  min-width: 20px;
  min-height: 20px;
  border-radius: 100%;
}

.checkmark {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2fcf5f;
  margin-left: 4px;
}

.checkmark:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  height: 10px;
  width: 5px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
}

.x-icon {
  display: grid;
  justify-items: center;
  align-items: center;
  transform: rotate(45deg);
  background-color: var(--red);
  margin-left: 2px;
}

.x-icon:before,
.x-icon:after {
  content: "";
  grid-area: 1/1/2/2;
  background-color: #fff;
}

.x-icon:before {
  height: 10px;
  width: 2px;
}

.x-icon:after {
  height: 2px;
  width: 10px;
}

@media (max-width: 1023px) {
  .App {
    padding: 15px;
  }
}
